@import "../../styles.scss";

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: transparent;
  color: $font-color-white !important;
  text-decoration: none;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 9rem;
  opacity: 0.8;

  &_item {
    align-self: center;
    width: 25%;
    text-align: center;

    &_navigation {
      text-align: left;
      padding: 20px;
    }
  }
}
